

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">FROMSOFTWARE Game Hub</a>
            <form method="POST" action="{{ url_for('handle_login')}}">
                <input class="form-control me2" name="emailPremade" type="email" placeholder="name@example.com" aria-label="Search">
                <button type="submit" class="btn btn-outline-info">
                    Login
                </button>
                <button type="submit" class="btn btn-outline-primary">
                    <a href="/login">Make a new account</a>
                </button>
            </form>
        </div>
    </nav>
    {% extends "layout.html" %}
    {% block content %}
        <h1>Welcome to the hub</h1>
    {% endblock content %}

</body>
</html>